@import "mixins";
@import "variables";

html * {
	color: #000;
	font-size: 16px;
	box-sizing: border-box;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

*,
*:before,
*:after {
	color: inherit;
	box-sizing: inherit;
}
