@use "sass:math";
@import "@styles/mixins";

.Header_container {
	display: flex;
	position: fixed;
	justify-content: space-between;

	z-index: 80;
	top: 0;
	width: 100%;
	background: linear-gradient(to right, #228be6, #06d6a0);
	border-bottom: 1px solid #fff;
	padding: 0px 60px;
}

.Header_content {
	display: flex;
	align-items: center;
	width: math.div(100%, 3);
	padding: $header-padding 0px;
	&:nth-child(1) {
		justify-content: flex-start;
	}
	&:nth-child(2) {
		justify-content: center;
	}
	&:nth-child(3) {
		justify-content: flex-end;
	}
}

.Header_item {
	line-height: $header-font-height;
}

.Header_link {
	> div {
		margin-left: 10px;
	}
}

.Header_popup {
	@include mobile {
		visibility: hidden;
	}
}

.Header_logo {
	height: $header-logo-height;
	@include mobile {
		display: none;
	}
}
