@import "styles/mixins";

.bg {
	background: #eeeeee;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: $content-max-width;
	padding: 20px 40px 80px 40px;
	@include mobile {
		padding: 20px 30px 80px 30px;
	}
}

.content {
	display: flex;
	&:not(:nth-child(2)) {
		padding: 50px 0px;
	}
	&:nth-child(3) {
		padding: 50px 0px 20px 0px;
	}
	&:nth-child(4) {
		padding: 0px 0px 28px 0px;
	}
	&:nth-child(5) {
		padding: 0px;
		font-weight: normal;
		gap: 16px;
	}
	@include mobile {
		&:not(:last-child) {
			flex-direction: column;
		}
		&:nth-child(4) {
			text-align: center;
		}
		&:nth-child(5) {
			justify-content: center;
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	& + & {
		margin-left: 6vw;
	}
	h5 {
		max-width: 60vw;
	}
	a > h5 {
		font-weight: normal;
	}
	a,
	h5:not(:first-child) {
		margin-top: 16px;
		font-weight: normal;
	}
	span + span {
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		color: #898989;
	}
	@include mobile {
		& + & {
			margin: 6vw 0 0 0;
		}
		a,
		h5:not(:first-child) {
			margin-top: 12px;
		}
		h5 {
			max-width: unset;
		}
	}
}
