@import "@styles/mixins";

.container {
  position: absolute;
  top: $header-height + 10px;
  right: 60px;
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  z-index: 100;
}
